body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #640303;
    text-align: center;
    margin-top: 50px;
}

p {
    text-align: center;
    color: #010101;
}
/* New grid container styles */
.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* 1 column layout on small screens */
    gap: 10px;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on tablet */
    }
}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on desktop */
    }
}
